{% extends './base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-wvfXp8c/Z9nPR+Zl/eR5d9BkpgSr+/MIbXzI1kR6DeVetan9gDz+3ZofP2LJZGpU8CjGFlvqUq0WfMhLs0K9Cg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add
        </button>
        
        <!-- Your table header -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Loan_Date</th>
                    <th scope="col">Loan_Amount</th>
                    <th scope="col">Repay_Period</th>
                    <th scope="col">Repayment_Amount</th>
                    <th scope="col">Issued_By</th>
                    
                    <th scope="col"></th> <!-- Empty header column for icons -->
                </tr>
            </thead>
            
            <tbody>
                {% for loan in loans %}
                    <tr>
                        <th scope="row">{{ loan.id }}</th>
                        <td>{{ loan.loan_amount }}</td>
                        <td>{{ loan.repay_period }}</td>
                        <td>{{ loan.repayment_amount }}</td>
                        <td>{{ loan.issued_by }}</td>
                        
                        <td>
                            <a href="{% url 'edit_loan_page' loan.id %}">
                                <i class="material-icons">edit</i>
                            </a>
                            <a href="{% url 'delete_loan_page' loan.id %}" onclick="return confirm('Are you sure you want to delete this agent?')">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    {% if message %}
        {{ message }}
    {% endif %}
</div>

<!-- Your existing content here -->

<!-- Modal form -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!-- Your existing modal content here -->
</div>

{% endblock content %}
