<html>
    {% load crispy_forms_tags %}
    {% load static %}
    
    <head>
        <title>Django my_app</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>

    <body>
        <hi>Edit -{{saving.saving_date}} </hi>

        <div class="container">
            <form method="POST">
                {% csrf_token %}

                {{form|crispy}}

                <input type="Submit" class="btn btn_primary">
                <input type="button" class="btn btn_success">

                {% if message %}
                {{message}}
                {% endif %}

            </form>
        </div>
        
        
    </body>
</html>