{% extends './base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    {% load static %}
    
    
        <title>Django my_app</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    

    <body>
        <hi>Edit -{{loan.repayment_amount}} </hi>

        <div class="container">
            <form method="POST">
                {% csrf_token %}

                {{form|crispy}}

                <input type="Submit" class="btn btn_primary">
                <input type="button" class="btn btn_success">

                {% if message %}
                    {{message}}
                {% endif %}

            </form>
        </div>
        
        
        {% endblock content %}