{% extends './base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    {% load static %}
    
    
        <title>Django my_app</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    

    <body>
        <hi>Edit -{{loan_payment.payment_date}} </hi>

        <div class="container">
            <form method="POST">
                {% csrf_token %}

                {{form|crispy}}

                <input type="Submit" value= "Save" class="btn btn-primary">
                <a class="btn btn-danger" href="{%url 'add_loan_payment_page' %}">Cancel</a>

                {% if message %}
                    {{message}}
                {% endif %}

            </form>
        </div>
        
        
{% endblock content %}