{% extends './base.html' %}
{% block content %}

    <title>Home Page</title>
    
    
    

    

    <section class="hero">
        <h1>WELCOME TO FLEXIBLE PLAN INVESTMENTS</h1>
        <h2>LOCATION</h2>
        <P>We are located at E Tower Bombo Road</P>
        <h2>OUR SERVICES</h2>
        <p>We provide quick loans to both the SACCO members and non members</p>
        <h2>CONTACT US ON</h2>
        <P>You can contact us on 0778056121 0752333654</P>
        
    </section>

{% endblock content %}

    
            
        
            
        
    </section>
    
