<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Details</title>
    
    <a href="{% url 'loan_payment.html'%}">Loan_repayment</a>
    
    
</head>

<body>
    <section class="#">
        <h1>WELCOME TO FLEXIBLE PLAN INVESTMENTS</h1>
        <h2>LOAN DETAILS</h2>
    </section>
    <section>
        
            
    </section>

    <form action="#">
      

        <p><input type="Loan_id" name="Loan_id" id="input_1" placeholder="Loan_id"></p>
        <p><input type="Loan_date" name="Loan_date" id="input_2" placeholder="Loan_date"></p>
        
         
        <p><input type="Loan_amount" name="Loan_amount" id="input_4" placeholder="Loan_amount"></p>
        <p><input type="Repay_Period" name="Repay_Period" id="input_5" placeholder="Repay_Period"></p>
        <p><input type="Repay_Amount" name="Repay_Amount" id="input_6" placeholder="Repay_Amount"></p>
        <p><input type="Member_id" name="Member_id" id="input_4" placeholder="Member_id"></p>
         <ul></ul>
        <p><button id="btn-add" onclick="AddTask()">AddTask</button></p> 
        
          
      
      </div>
       
          
          <table>

            <table width="1000px" border="1px" height="200">

            <tr>
                <th>Loan_id</th>
                <th>Loan_date</th>
                
                <th>Loan_amount</th>
                <th>Repay_Period(Months)</th>
                <th>Repay_Amount(per month)</th>
                <th>Member_id</th>
                
            </tr>
            <tr>
                <td>1</td>
                <td>2023/01/20</td>
                <td>200000</td>
                <td>2</td>
                <td>100000</td>
                <td>1</td>
            </tr>

            <tr>
                <td>2</td>
                <td>2023/02/20</td>
                <td>400000</td>
                <td>2</td>
                <td>200000</td>
                <td>2</td>
            </tr>

            <tr>
                <td>3</td>
                <td>2023/5/20</td>
                <td>1000000</td>
                <td>4</td>
                <td>250000</td>
                <td>3</td>
            </tr>

            <tr>
                <td>4</td>
                <td>2023/06/20</td>
                <td>8000000</td>
                <td>4</td>
                <td>200000</td>
                <td>4</td>
            </tr>
            
          </table>
          <section class="featured">
        
            

            
</body>
</html>