<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Repayment Details</title>
    <a href="{% url 'loan.html'%}">Loan</a>
    <a href="{% url 'index.html'%}">Back Home</a>
    
    
</head>

<body>
    <section class="#">
        <h1>WELCOME TO FLEXIBLE PLAN INVESTMENTS</h1>
        <h2>LOAN REPAYMENT DETAILS</h2>
    </section>
    <section>
        
            
    </section>

    <form action="#">
      

        <p><input type="Payment_id" name="Payment_id" id="input_1" placeholder="Payment_id"></p>
        <p><input type="text" name="Payment_date" id="input_2" placeholder="Payment_date"></p>
        <p><input type="text" name="Amount_Paid" id="input_3" placeholder="Amount_Paid"></p>
         
        <p><input type="text" name="Receieved_by" id="input_4" placeholder="Receieved_by"></p>
        <p><input type="Loan_id" name="Loan_id" id="input_5" placeholder="Loan_id"></p>
        
        <p><button id="btn-add" onclick="AddTask()">AddTask</button></p> 
        
          
      
      </div>
       
          
          <table>

            <table width="1000px" border="1px" height="200">

            <tr>
                <th>Payment_id</th>
                <th>Payment_date</th>
                <th>Amount_Paid</th>
                <th>Receieved_by</th>
                <th>Loan_id</th>
                
                
            </tr>
            <tr>
                <td>1</td>
                <td>2023/02/21</td>
                <td>100000</td>
                <td>George</td>
                <td>1</td>
                
            </tr>

            <tr>
                <td>2</td>
                <td>2023/04/21</td>
                <td>200000</td>
                <td>Pius</td>
                <td>2</td>
                
            </tr>

            <tr>
                <td>3</td>
                <td>2023/06/21</td>
                <td>250000</td>
                <td>Pius</td>
                <td>3</td>
                
            </tr>

            <tr>
                <td>4</td>
                <td>2023/08/21</td>
                <td>200000</td>
                <td>George</td>
                <td>4</td>
                
            </tr>
            
          </table>
          <section class="featured">
        
            

            
</body>
</html>