<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Details</title>
    <a href="{% url 'loan.html'%}">Loan</a>
    
</head>

<body>
    <section class="#">
        <h1>WELCOME TO FLEXIBLE PLAN INVESTMENTS</h1>
        <h2>MEMBER DETAILS</h2>
    </section>
    <section>
        
            
    </section>

    <form action="#">
      

        <p><input type="Member_id" name="Member_id" id="input_1" placeholder="Member_id"></p>
        <p><input type="text" name="Member_name" id="input_2" placeholder="Member_name"></p>
        <p><input type="text" name="Gender" id="input_3" placeholder="Gender"></p>
         
        <p><input type="text" name="Address" id="input_4" placeholder="Address"></p>
        <p><input type="Contact" name="Contact" id="input_5" placeholder="Contact"></p>
        <p><input type="savings_balance" name="Savings_balance" id="input_6" placeholder="Savings_balance"></p>
         <ul></ul>
        <p><button id="btn-add" onclick="AddTask()">AddTask</button></p> 
        
          
      
      </div>
       
          
          <table>

            <table width="1000px" border="1px" height="200">

            <tr>
                <th>Member_id</th>
                <th>Member_name</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Savings_balance</th>
                
            </tr>
            <tr>
                <td>1</td>
                <td>Ronald</td>
                <td>M</td>
                <td>Katwe</td>
                <td>+256778056121</td>
                <td>30000</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Sam</td>
                <td>M</td>
                <td>Kibuli</td>
                <td>+256786003117</td>
                <td>35000</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Sarah</td>
                <td>F</td>
                <td>Kampala</td>
                <td>+256757071269</td>
                <td>48000</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Kirabo</td>
                <td>F</td>
                <td>Muyenga</td>
                <td>+256752333654</td>
                <td>80000</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Mildred</td>
                <td>F</td>
                <td>Munyonyo</td>
                <td>+256778302050</td>
                <td>90000</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Ivan</td>
                <td>M</td>
                <td>Jinja Road</td>
                <td>+256778033090</td>
                <td>100000</td>
            </tr>
          </table>
          <section class="featured">
        
            

            
</body>
</html>