<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savings Details</title>
    
    
    <a href="{% url 'index.html'%}">Back Home</a>
    <a href="{% url 'member.html'%}">Members</a>
</head>

<body>
    <section class="">
        <h1>WELCOME TO FLEXIBLE PLAN INVESTMENTS</h1>
        <h2>SAVINGS DETAILS</h2>
    </section>
        
      <form action="#">
         
            
            <p><input type="Saving_id" name="Saving_id" id="input_1" placeholder="Saving_id"></p>
            <p><input type="Saving_date" name="Saving_date" id="input_2" placeholder="Saving_date"></p>
            
            <p><input type="Member_id" name="Member_id" id="input_3" placeholder="Member_id"></p>
           
            <p><input type="Loan_amount" name="Loan_amount" id="input_4" placeholder="Loan_amount"></p>
           
            <p><input type="Payment_mode" name="Payment_mode" id="input_5" placeholder="Payment_mode"></p>
          
            <p><input type="Saving_year" name="Saving_year" id="input_6" placeholder="Saving_year"></p>
           
            <p><input type="Saving_month" name="Saving_month" id="input_7" placeholder="Saving_month"></p>
            <p><input type="amount" name="Amount" id="input_8" placeholder="Amount"></p>
           <ul id="tasl-list">
            <p><button id="btn-add" onclick="AddTask()">AddTask</button></p> 
        </ul>
        </div>

        
          <table>
            <tr>

          <table width="500px" border="4px">
                <th>Saving_id</th>
                <th>Saving_date</th>
                <th>Member_id</th>
                <th>Payment_mode</th>
                <th>Saving_year</th>
                <th>Saving_month</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>1</td>
                <td>2023/08/11</td>
                <td>1</td>
                <td>Cash</td>
                <td>2023</td>
                <td>06</td>
                <td>400000</td>
            </tr>
            <tr>
                <td>2</td>
                <td>2023/08/13</td>
                <td>2</td>
                <td>Mobile money</td>
                <td>2023</td>
                <td>03</td>
                <td>500000</td>
            </tr>
            <tr>
                <td>3</td>
                <td>2023/08/17</td>
                <td>3</td>
                <td>Cash</td>
                <td>2023</td>
                <td>12</td>
                <td>300000</td>
            </tr>
            <tr>
                <td>4</td>
                <td>2023/08/19</td>
                <td>4</td>
                <td>Cash</td>
                <td>2023</td>
                <td>10</td>
                <td>700000</td>
            </tr>
            <tr>
                <td>5</td>
                <td>2023/08/22</td>
                <td>5</td>
                <td>Cash</td>
                <td>2023</td>
                <td>10</td>
                <td>550000</td>
            </tr>
            </tr>
            </tr>
            
          </table>
          
          
    
</body>
</html>